# Force LF line endings for files that goose and Go toolchain parse
*.sql  text eol=lf
*.go   text eol=lf
*.mod  text eol=lf
*.sum  text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf
*.sh   text eol=lf
*.yaml text eol=lf
*.yml  text eol=lf
